---
layout: default
---

<div class="header-bar">
  <h1>All posts</h1>
  <br/>
  <hr/>
  <br/>
</div>

<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <div id="flex-container">
          <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">
          <div id="thumbnail-img">
          {% if post.img %}
            <img src="{{post.img}}"
                 {% if post.portrait %} class="portrait" {% endif %}
            />
          {% else %}
            <div class="thumbnail blankbox"></div>
          {% endif %}

          </div>
          <div  style="display:block;text-align:left">
            <h4>{{ post.title }}</h4></a>
            <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
            <p>{{ post.description }}</p>
          </div>
        </div>
        <br/>
        <hr/>
        
      </li>
    {% endfor %}
</ul>
